.clientes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cartões */
    padding: 20px 0;
    justify-content: center;
}

.cliente-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cliente-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cliente-nome {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
}